
.card.card-user {
  background-color:#a2a2a229;
}
li.list-group-item {
  background-color:#a2a2a200;
}
i.fab.fa-linkedin.fa-4x {
  color: #3a58b7;
}
i.fab.fa-github.fa-4x {
  color:black;
}
.card.informacao {
  background-color:#a2a2a229;
}
