<div class="row">
  <div class="col-md-12">
    <div class="card informacao">
      <div class="card-body ">
        <h5 Sistema class="display-6">Alunos do Mestrado Profissional em Tecnologia da Informação no IFPB/2021. <br>
          Sistema desenvolvido para suprir a necessidade de informações
           de dados públicos de licitações e contratos na Paraíba e também como atividade acadêmica.</h5>
           <a href="https://estudante.ifpb.edu.br/cursos/195/" target="_blank" >Mestrado Profissional - Tecnologia da Informação - IFPB</a>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-3">

    <div class="card card-user">
      <div class="image"></div>
    <div class="card-body">
      <div class="author">
          <img class="avatar border-gray" src="assets/img/afonso.jpg" alt="...">
          <h5 class="title">Afonso Serafim</h5>
        <p class="description">
          afonso.serafim@ifpb.edu.br
        </p>
      </div>
      <div class class="description text-center">
        <h5>Professor EBTT</h5>
        <br>
        <ul class="list-group">
          <li class="list-group-item"> Graduado em Bacharelado em Computação - UEPB Campus VII - Patos-PB. </li>
          <li class="list-group-item"> Especialista em Gerenciamento de Projetos - Instituto Pró-Saber. </li>
          <li class="list-group-item"> Mestrando em Tecnologia da Informação - Gestão de Desenvolvimento de Sistemas - IFPB. </li>
        </ul>
      </div>
    </div>
    <div class="card-footer">
      <hr>
      <div class="button-container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <a  href="https://www.linkedin.com/in/afonso-serafim-jacinto-340312107/" target="_blank">
               <i class="fab fa-linkedin fa-4x"></i>
              </a>
          </div>
          <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
            <a href="https://github.com/afonson1" target="_blank">
              <i class="fab fa-github fa-4x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="col-md-3">

    <div class="card card-user">
      <div class="image"></div>
    <div class="card-body">
      <div class="author">
          <img class="avatar border-gray" src="assets/img/kym.jpg" alt="...">
          <h5 class="title">Kym Kannato</h5>
        <p class="description">
          kymkanatto@gmail.com
        </p>
      </div>
      <div class class="description text-center">
        <h5>Professor</h5>
        <br>
        <ul class="list-group">

          <li class="list-group-item"> Licenciatura em Ciências da Computação - UFPB. </li>
          <li class="list-group-item"> Mestrando em Tecnologia da Informação - Gestão de Desenvolvimento de Sistemas - IFPB. </li>
          <br>
          <br>
          <br>
        </ul>
      </div>
    </div>
    <div class="card-footer">
      <hr>
      <div class="button-container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <a  href="https://www.linkedin.com/in/profkanatto/" target="_blank">
               <i class="fab fa-linkedin fa-4x"></i>
              </a>
          </div>
          <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
            <a href="https://github.com/profkanatto" target="_blank">
              <i class="fab fa-github fa-4x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="col-md-3">
    <div class="card card-user">
      <div class="image"></div>
      <div class="card-body">
        <div class="author">
            <img class="avatar border-gray" src="assets/img/matias.jpg" alt="...">
            <h5 class="title">Matias Ribeiro</h5>
          <p class="description">
            mathias.ribeiro@gmail.com
          </p>
        </div>
        <div class class="description text-center">
          <h5>Analista de Sistemas</h5>
          <br>
          <ul class="list-group">
            <li class="list-group-item"> Graduado em Análise e Desenvolvimento de Sistemas - IDez/IBRATEC - João Pessoa - PB. </li>
            <li class="list-group-item"> Especialista em Desenvolvimento de Sistemas - Estácio da Paraíba. </li>
            <li class="list-group-item"> Mestrando em Tecnologia da Informação - Gestão de Desenvolvimento de Sistemas - IFPB. </li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
                <a  href="https://linkedin.com/in/matiasribeiro" target="_blank">
                 <i class="fab fa-linkedin fa-4x"></i>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <a href="https://github.com/matiasribeiro" target="_blank">
                <i class="fab fa-github fa-4x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-3">

    <div class="card card-user">
      <div class="image"></div>
      <div class="card-body">
        <div class="author">
            <img class="avatar border-gray" src="assets/img/ronei.jpeg" alt="...">
            <h5 class="title">Ronei Oliveira</h5>
          <p class="description">
            roneioliveira@gmail.com
          </p>
        </div>
        <div class class="description text-center">
          <h5>Gerente de Engenharia de Software - UFPB</h5>
          <br>
          <ul class="list-group">
            <li class="list-group-item"> Graduado em Ciência da Computação - UFPB. </li>
            <li class="list-group-item"> Especialista em Gerência de Projetos de TI - UNIFCV. </li>
            <li class="list-group-item"> Mestrando em Tecnologia da Informação - Gestão de Desenvolvimento de Sistemas - IFPB. </li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
                <a  href="https://www.linkedin.com/in/roneioliveira/" target="_blank">
                 <i class="fab fa-linkedin fa-4x"></i>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <a href="https://github.com/roneisoliveira/" target="_blank">
                <i class="fab fa-github fa-4x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>
