

<div class="content">

  <div class="container">
    <div id="cxBuscaNumeroLicitacao">
      <form [formGroup]="formulario">
        <div class="row">


          <div class="col-sm-6">

            <input  id="inputBusca"
                    class="form-control form-control-lg"
                    formControlName="numeroBusca"
                    type="text"

                    placeholder="Busca pelo número da licitação"
                    (keyup)="updateFilterNumero()"
            />
            </div>


            <div class="col-sm-6">
              <input  id="inputBusca"
                      class="form-control form-control-lg"
                      formControlName="assuntoBusca"
                      type="text"

                      placeholder="Busca pelo assunto da licitação"
                      (keyup)="updateFilterObjetivo()"
              />
              </div>

              <div class="col-sm-6">
                <app-mensagens  [control]="formGroup.numeroBusca" label="Número da Licitação"></app-mensagens>
              </div>

              <div class="col-sm-6">
                <app-mensagens  [control]="formGroup.assuntoBusca" label="Assunto da Licitação"></app-mensagens>
              </div>

          </div>
        </form>
      </div>
  </div>



  <div *ngIf="renderizacao_tela">

  <ngx-datatable
    #tabelaLicitacao
    class="dark"
    [columnMode]="ColumnMode.flex"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [limit]="10"
    [rows]="rows"
    [selected]="selected"
    [selectionType]="SelectionType.single"
    [messages]="{emptyMessage: 'Nenhuma Licitação sobre o filtro de busca!'}"
>

 <!-- Row Detail Template -->
 <ngx-datatable-row-detail rowHeight="auto" #myDetailRow >
  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
    <div >

          <div class="containerInfo">
            <div class="row">

              <div class="col-sm-3">
                <span class="desktop-hidden">Objetivo: </span>
              </div>
              <div class="col-sm-9">
                <span class="desktop-hidden">{{ row.objetivo}}</span>
              </div>
              <div class="linha desktop-hidden"></div>

              <div class="col-sm-3">
                <span class="desktop-hidden">Modalidade: </span>
              </div>
              <div class="col-sm-9">
                <span class="desktop-hidden">{{ row.modalidade}} </span>
              </div>
              <div class="linha desktop-hidden"></div>

              <div class="col-sm-3">
                <span class="desktop-hidden">Valor Licitado: </span>
              </div>
              <div class="col-sm-9">
                <span class="desktop-hidden">{{ formatarMoeda(row.valorLicitado)}} </span>
              </div>
              <div class="linha desktop-hidden"></div>

              <div class="col-sm-3">
                <span>Protocolo: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.protocolo}} </span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>Município: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.municipio}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>CD Unidade Gestora: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.codigoUnidadeGestora}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>ID Juridicional: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.idJuridicionado}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>Nome Juridicional: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.nomeJuridicionado}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>Valor Estimado: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ formatarMoeda(row.valorEstimado)}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>Data Homologação: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.dataHomologacao}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>Estágio Processual: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.nomeEstagioProcessual}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>Setor Atual: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.nomeSetorAtual}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>URL TCE: </span>
              </div>
              <div class="col-sm-9">
                <span class="rowUrl">{{ row.url}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span >Entidade Governamental: </span>
              </div>
              <div class="col-sm-9">
                <span >{{ row.entidadeGovernamental}}</span>
              </div>
              <div class="linha"></div>

              <div class="col-sm-3">
                <span>Número Processo: </span>
              </div>
              <div class="col-sm-9">
                <span>{{ row.numeroProcesso}}</span>
              </div>
              <div class="linha"></div>



            </div>


          </div>


    </div>
  </ng-template>
</ngx-datatable-row-detail>

          <!-- Column Templates -->
          <ngx-datatable-column
          [width]="90"
          [flexGrow]="1"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row)"
            >
            </a>
          </ng-template>
        </ngx-datatable-column>


      <ngx-datatable-column
            prop="column.numero"
            name="Número"
            [sortable]="true"
      >
        <ng-template let-value="row.numero" ngx-datatable-cell-template>
          {{ value  }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Objetivo" [flexGrow]="1">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="mobile-hidden">{{ column.name }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="mobile-hidden">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Modalidade" [flexGrow]="1">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="mobile-hidden">{{ column.name }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="mobile-hidden">{{ value }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Valor Licitado" [flexGrow]="1">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="mobile-hidden">{{ column.name }}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="mobile-hidden">{{ formatarMoeda(value) }}</span>
        </ng-template>
      </ngx-datatable-column>



</ngx-datatable>

</div>

</div>


