

datatable-body.datatable-body {
  font-size: 18px;
}

input.inputNumero {
  font-size: 18px;
  width: 100% !important;
}

div#cxBuscaNumeroLicitacao {
  padding: 1em;
}

input#inputBusca {
  margin: 1%;
}


.datatable-header-cell {
  padding: .9rem 1.2rem;
  font-weight: 400;
  vertical-align: bottom;
  font-size: 18px;
}

.containerInfo {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 6%;
  width: 90%;
}


.col-sm-9 {
  padding-right: 25% !important;
  text-align: justify;
}



/* ---------------------- datatable responsivo ---------------------------*/

@media screen and (max-width: 750px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
  .linha{
    height:0;
    width:100%;
    margin-right: 22%;
    border:1px solid #4e69b1;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .rowUrl{
    display: block;
    text-overflow: ellipsis;
    font-size: 15px;
  }
}
@media screen and (min-width: 750px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
  .linha{
    height:0;
    width:100%;
    border:1px solid #4e69b1;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .rowUrl{
    display: block;
    text-overflow: ellipsis;
  }
}
